<h2> <%= @ingredient.name() %></h2>
<hr>

<% if @ingredient_recipes.any? %>
  <h3> Current ingredients: </h3>
  <ul>
    <%@ingredient_recipes.each do |recipe|%>
      <li><%=recipe.name%></li>
    <%end%>
  </ul>

<% else %>
    <p>This ingredient has no recipes it belongs to</p>
    <p><a href="/recipes">Add an ingredient to database</a></p>
<% end %>
<hr>

<h3>Update ingredient to a Recipe:</h3>
  <form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input name="_method" value="patch" type="hidden">
  <% if @unassigned_recipes.any? %>
    <label>Add a recipe to the ingredient of your choosing:</label><br>
    <% @unassigned_recipes.each do |recipe|%>
      <label>
        <%="<input type='checkbox' name='recipes_to_add[]' value='#{recipe.id}'> #{recipe.name}"%>
      </label><br>
    <% end %>
  <% end %>

  <% if @ingredient_recipes.any? %>
    <label>Remove recipe from ingredients</label><br>
    <% @ingredient_recipes.each do |recipe|%>
      <label>
        <%="<input type='checkbox' name='recipes_to_delete[]' value='#{recipe.id}'>#{recipe.name}"%>
      </label><br>
    <% end %>
  <% end %>
  <button type="submit">Submit</button>
</form>
<hr>
